<div class="modal-header">
  <h4 class="modal-title">{{ _task.name }}</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form class="form" [formGroup]="taskForm" (ngSubmit)="save()">
    <div class="form-body">
      <fieldset class="form-group">
        <label for="placeholderInput">Name</label>
        <input
          formControlName="name"
          class="form-control"
          id="placeholderInput"
          placeholder="Name"
          type="text"
        />
      </fieldset>
      <fieldset class="form-group">
        <label for="placeTextarea">Description</label
        ><textarea
          formControlName="description"
          class="form-control"
          id="placeTextarea"
          placeholder="Description"
          rows="3"
          style="margin-top: 0px; margin-bottom: 0px; height: 111px;"
        ></textarea>
      </fieldset>
      <fieldset class="form-group position-relative">
        <select formControlName="state" class="form-control" id="DefaultSelect">
          <option disabled selected="">Select state</option>
          <option *ngFor="let option of tasksService.getStates() | async" [ngValue]="option">{{option}}</option>
        </select>
      </fieldset>
      <fieldset class="form-group">
          <label for="estimateInput">Estimate (Hours)</label>
          <input
            formControlName="estimate"
            class="form-control"
            id="estimateInput"
            placeholder="000"
            type="text"
            inputmode="numeric" pattern="[0-9]*"
          />
          <small class="text-danger ml-1" *ngIf="taskForm.controls.estimate.errors && (taskForm.controls.estimate.dirty || taskForm.controls.estimate.touched)">Only numeric characters are allowed</small>
        </fieldset>
    </div>
  </form>
</div>
<div class="modal-footer justify-content-between">
  <button type="button" class="btn btn-danger btn-raised float-md-left" [disabled]="taskForm.invalid" (click)="remove()"> Remove </button>
  <div>
    <button type="button" class="btn btn-primary btn-raised" [disabled]="taskForm.invalid" (click)="save()"> Save </button>
    <button type="button" class="btn btn-secondary btn-raised" (click)="activeModal.close('Close click')"> Close </button>
  </div>
</div>
