<div class="row">
  <div class="col-sm-12">
    <div class="content-header text-left">Task Board</div>
    <p class="content-sub-header"></p>
  </div>
</div>
<!-- Taskboard Starts -->
<section id="taskboard">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">General overview</h4>
        </div>
        <div class="card-body">
            <div class="card-block">
                <p *ngFor="let status of currentStatuses">
                    {{status.state + ' ' + status.currentTasks+ ' : '+ status.hours + ' hours'}}
                    <ngb-progressbar [showValue]="true" [type]="status.colorClass" [value]="status.percentValue"></ngb-progressbar>
                </p>
            </div>
        </div>
    </div>

  <div class="row">
    <div class="col-md-3 col-12" *ngFor="let l of tasksService.getListsWithCards() |async">
      <h4 class="ml-2 mt-2 text-bold-500 text-left"><i [class]="'mr-1 float-left '+ l.iconClass"></i>{{l.state + ' (' + l.tasks.length + ')'}}</h4>
      <div class='dragdrop-container' [dragula]="'tasks-group'" (dragulaModelChange)="onDrag($event,l.state)" [dragulaModel]='l.tasks'>
        <div *ngFor='let todo of l.tasks'>
          <app-task [task]="todo" (onTaskClick)="viewTask($event)" (onRemoveClick)="removeTask($event)"></app-task>
        </div>
      </div>
    </div>
  </div>

  <section class="taskboard-app-form bg-blue-grey bg-lighten-5">
    <div class="card">
      <div class="card-block pt-3 text-left">
        <h5 class="text-bold-500">Create new Task</h5>
        <form [formGroup]="taskForm" class="taskboard-app-input row" (ngSubmit)="addTask()">
          <fieldset class="form-group position-relative has-icon-left col-md-4 col-12 mb-1">
            <div class="form-control-position">
              <i class="icon-emoticon-smile"></i>
            </div>
            <input type="text" formControlName="name" class="form-control" id="name" placeholder="Name" #nameElement>
            <div class="form-control-position control-position-right">
              <i class="ft-image"></i>
            </div>
          </fieldset>
          <fieldset class="form-group position-relative has-icon-left col-md-6 col-12 mb-1">
            <div class="form-control-position">
              <i class="icon-emoticon-smile"></i>
            </div>
            <input type="text" class="form-control" formControlName="description" id="description" placeholder="Description">
            <div class="form-control-position control-position-right">
              <i class="ft-image"></i>
            </div>
          </fieldset>

          <fieldset class="form-group position-relative has-icon-left col-md-2 col-12 mb-1">
            <button type="submit" class="btn btn-raised btn-primary" [disabled]="taskForm.invalid">
              <i class="fa fa-paper-plane-o hidden-lg-up"></i> Create</button>
          </fieldset>
        </form>
      </div>
    </div>
  </section>

</section>
<!-- Taskboard Ends -->
