<div class="card" (click)="onClick($event)">
  <div class="card-block pt-3 text-left">
    <div class="clearfix">
      <h5 [class]="'text-bold-500 float-left ' + _class">{{task.name}}</h5>
      <div class="actions float-right">
        <i class="ft-trash-2 danger delete-icon" style="cursor:pointer" (click)="removeCard($event)"></i>
      </div>
    </div>
    <p>{{task.description}}</p>
     <span [class]="_class">Estimate: {{task.estimate}} hours</span>
  </div>
</div>
