<footer>
  <div class="container-fluid">
    <p class="copyright text-center">
      Copyright &copy; {{ currentDate | date: 'yyyy' }}
      <a id="link" href="#">Task tracker</a>, All rights reserved
    </p>
  </div>
</footer>
